<h2>Hello, {{user.firstname}} {{user.lastname}}!</h2>
<p>You have successfully logged in!</p>
<p>Here is your account data:</p>
<ul>
    <li>First name: {{user.firstname}}</li>
    <li>Last name: {{user.lastname}}</li>
    <li>Password: {{user.password}}</li>
    <li>Username: {{user.username}}</li>
</ul>